@font-face {
	font-family: "JetBrains Mono";
	src: local('JetBrainsMono-medium'), url("/JetBrainsMono-Medium.woff2") format('woff2');
}


#particles-js {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: #006969;
	z-index: -1;	
}

html, body {
	overflow: hidden;

h1 {
	color: black;
	text-align: left;
	font-size: 45px;
	font-family: JetBrains Mono;

}

h2 {
	color: black;
	text-align: center;
	font-size: 35px;
	font-family: JetBrains Mono;
}

h3 {
	color: black;
	text-align: center;
	font-size: 35px;
	font-family: JetBrains Mono;
}

h4 {
	color: black;
	text-align: left;
	font-size: 35px;
	font-family: JetBrains Mono;
}

p {
	color: black;
	text-align: center;
	font-size: 30px;
	font-family: JetBrains Mono;
}


